.section {
  background-color: var(--header-color);
  color: var(--text-color);
  padding: 40px 0;
  font-size: 14px;
}

.links {
  list-style: none;
  padding: 0;
  margin: 16px 0 0 0;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.links li a {
  color: var(--text-color);
  text-decoration: none;
  transition: color 0.2s;
}

.links li a:hover {
  color: var(--accent-color);
}

.copyright {
  margin: 30px 0 0 0;
}

@media (max-width: 640px) {
  .links {
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    align-items: center;
  }

  p {
    text-align: center;
  }
}