.section {
  background-color: var(--second-color);
  width: auto;
  height: auto;
  color: var(--text-color);
  padding-bottom: 40px;
}

.section h2 {
  margin: 0;
}

.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  list-style: none;
  padding: 0;
  margin: 32px 0 0;
}

.list li {
  background: var(--card-color);
  margin-bottom: 32px;
  padding: 24px;
  border-radius: 16px;
  box-shadow: -5px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;
}

.list span {
  margin-bottom: 12px;
  color: var(--accent-color);
  font-size: 55px;
  margin-left: 10px;
}

.list h3 {
  font-weight: 500;
  margin-left: 10px;
}

.list p {
  font-size: 16px;
  margin-left: 10px;
}

.icon {
  margin-left: 10px;
}

.header {
  text-align: center;
  font-size: 30px;
  padding-top: 50px;
  padding-bottom: 25px;
}

/* Планшеты */
@media (max-width: 1024px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .list {
    grid-template-columns: 1fr;
    gap: 24px;
  }

  .list span {
    font-size: 40px; 
  }

  .list h3 {
    font-size: 18px;
  }

  .list p {
    font-size: 14px;
  }

  .icon {
    margin-left: 0; 
    display: block;
    margin-top: 8px;
    margin-bottom: 12px;
  }
}