.themeButton {
  background-color: var(--text-color);
  padding: 10px;
  cursor: pointer;
  border-radius: 200px;
  border-color: var(--text-color);
  border-style: outset;
    transition: 
    transform 1s ease;
}

.themeButton:hover {
  transform: translateY(2px);
}