.title {
  padding-top: 40px;
  font-size: 32px;
  margin: 0 0 90px 0;
  font-weight: 700;
  text-align: center;
  color: var(--text-color);
}

.section {
  color: var(--text-color);
  background-color: var(--bg-color);
}

.iconOuter {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: var(--accent-color);
  width: 60px;
  height: 60px;
}

.whyUs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  margin-bottom: 64px;
}

.whyUsCard {
  background-color: var(--card-color);
  color: var(--text-color);
}

.whyUsCard h3 {
  justify-self: center;
  
}

.whyUsCard .iconOuter {
  justify-self: center;
}

.whyUsCard p {
  justify-self: center;
  text-align: center;
}

.testimonials {
  padding: 0;
  margin-top: 64px;
}

.testimonialsCard {
  background-color: var(--card-color);
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.testimonials h2 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 24px;
  text-align: center;
}

.testimonialAuthor {
  text-align: end;
  margin-top: auto;
}

.testimonialQuote {
  white-space: pre-wrap;
}

.testimonialsList {
  display: grid;
  gap: 24px;
  margin-top: 24px;
  grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 1024px) {
  .testimonialsList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 640px) {
  .testimonialsList {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 1024px) {
  .whyUs {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 640px) {
  .whyUs {
    grid-template-columns: 1fr;
  }
}